/* Estilo para el fondo de la ventana */
.root {
    -fx-background-color: #d3d3d3; /* Color de fondo gris claro */
    -fx-font-family: "Arial"; /* Fuente general */
    -fx-font-size: 14px; /* Tamaño de la fuente general */
}

/* Estilo para el TableView */
.table-view {
    -fx-background-color: #c0c0c0; /* Fondo gris claro para la tabla */
    -fx-border-color: cyan; /* Borde cian para la tabla */
    -fx-border-width: 2px; /* Ancho del borde */
}

/* Estilo para las celdas de la tabla */
.table-view .table-row-cell {
    -fx-background-color: #e6e6e6; /* Color de fondo gris muy claro */
    -fx-text-fill: black; /* Texto negro en las celdas */
}

/* Estilo para las celdas seleccionadas */
.table-view .table-row-cell:selected {
    -fx-background-color: #00FFFF; /* Color de fondo cian para la selección */
    -fx-text-fill: black; /* Texto negro en la fila seleccionada */
}

/* Estilo para los encabezados de la tabla */
.table-view .column-header-background {
    -fx-background-color: #333333; /* Fondo gris oscuro para los encabezados */
}

.table-view .column-header .label {
    -fx-text-fill: black; /* Texto blanco para los encabezados */
    -fx-font-weight: bold; /* Texto en negrita para mayor visibilidad */
}

/* Estilo para los botones */
.button {
    -fx-background-color: #d3d3d3; /* Color de fondo gris claro */
    -fx-text-fill: black; /* Color del texto en negro */
    -fx-font-size: 14px; /* Tamaño de la fuente */
    -fx-padding: 10 20 10 20; /* Relleno alrededor del texto */
}

/* Cambios de estilo en los botones al pasar el mouse */
.button:hover {
    -fx-background-color: black; /* Color negro al pasar el mouse */
    -fx-text-fill: #00FF00; /* Texto en verde lima al hacer hover */
}

/* Estilo para los campos de texto */
.text-field {
    -fx-background-color: #000000; /* Fondo negro */
    -fx-text-fill: #ffffff; /* Texto blanco */
    -fx-border-color: #a9a9a9; /* Borde gris */
    -fx-border-radius: 5; /* Bordes redondeados */
}

/* Estilo para el texto dentro de los campos de texto */
.text-field .text {
    -fx-fill: #ffffff; /* Texto blanco */
}

/* Estilo para las etiquetas */
.label {
    -fx-text-fill: #333333; /* Color del texto en gris oscuro */
    -fx-font-size: 14px; /* Tamaño de la fuente */
}
